<h3 class="title is-4">
  Who are you and what is happening
</h3>

<p>
  Hi, hi, hello.
</p>

<p>
  I am a PNW-based sewist and software engineer obsessed with sloths. I regularly sew dog hair into my clothing. I've been sewing since 2015, and my primary equipment is:
</p>

<ul>
  <li>Bernina 350PE sewing machine</li>
  <li>Bernina 1008 backup sewing machine</li>
  <li>Brother 1034D serger</li>
  <li>Husqvarna Viking Designer 1 embroidery machine</li>
</ul>

<p>
  I don't like fussy sewing, but I do appreciate good finishing. I hate buttons and zippers, and I love a good edge stitch. I put pockets in pretty much everything (unless the silhouette or fabric don't permit pockets) and never regret it.
</p>

<p>
  Modifications I typically make: include grading the waist to a smaller size, a full calf adjustment, and a back rise (for pants). For fitted button ups I have to make a full bust adjustment, but I tend to avoid it for other garments.
</p>