---
pageable: true
per_page: 12
---
<h2 class="is-size-3">Articles tagged <span class="has-text-weight-bold"><%= tagname %></span></h2>

<ul>
  <% page_articles.each_with_index do |article, i| %>
    <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
  <% end %>
</ul>
